.result_span{
    position: absolute;
    top: 280px;
    left: -400px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2px;
  }
  
  .result_span_{
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2px;
    position: absolute;
    top: 320px;
    left: -380px;
  }
  
  .result_span2{
    position: absolute;
    top: 350px;
    left: -400px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2px;
  }
  
  .result_span3{
    position: absolute;
    top: 150px;
    left: -400px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2px;
  }
  
  .result_span3_{
    position: absolute;
    top: 180px;
    left: -400px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2px;
  }
  
  